@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);

}

/* .glider-prev svg, .glider-next svg {
  fill: #ff0000; 
} */

